.portfolio-container {
  background-color: rgba(68, 114, 126, 0.352);
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}

.sectionTitle {
  font-family: 'Bodoni Moda', serif;
  font-size: 32px;
  margin: 50px;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) and (min-width: 340px) {
  .portfolio-container {
    padding: 50px 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1025px) and (min-width: 701px) {
  .portfolio-container {
    padding: 50px 20px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
